{% extends 'bazo.html' %}

{% block ĉapo %}
<link rel="stylesheet" type="text/css" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
   <script src='https://drvic10k.github.io/bootstrap-sortable/Scripts/moment.min.js'></script>
   <script src='https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js'></script>
{% endblock ĉapo %}

{% block enhavo %}
 <div class="jumbotron">
  <!-- <h1>Navbar example</h1> -->
  <p>Bitarkivo estas la ejo kie ni por ĉiam gardos la Esperantan kulturon.</p>
  <p>Nuntempe, vi povas trovi <b>{{ total_numeroj}}</b> gazetnumerojn
  <button type="button" class="btn btn-default" aria-label="Gazetoj">
     <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
  </button>
  , librojn
  <button type="button" class="btn btn-default" aria-label="Libroj">
     <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
  </button>
  , podkastojn
  <button type="button" class="btn btn-default" aria-label="Podkastoj">
     <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
  </button>
  , ktp.</p>
  <p>Se vi havas PDF kiu ankoraŭ mankas ĉi-tie, bonvolu <a href="/kontaktu/" target="_top">kontakti nin</a>.</p>
<!--
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p> -->
</div>

{% if object_list %}
    <ol class="breadcrumb">
      <li><a href="/gazetoj/">Gazetoj</a></li>
      <li class="active">{{filtro}}</li>

      <li class="pull-right">
            {% if list_vido %}
                <i class="fa fa-th-list"></i>
                <a class="btn btn-link" href="?list_vido=0" role="button"><i class="fa fa-th-large"></i></a>
                <!-- <button class="btn btn-link "></button> -->
            {% else %}
                <a class="btn btn-link" href="?list_vido=1" role="button"><i class="fa fa-th-list"></i></a>
                <i class="fa fa-th-large"></i>
            {% endif %}
       </li>
    </ol>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ object_list.count}} gazetoj trovitaj</h3>
      </div>
      <div class="panel-body">
          {% if list_vido %}
              <table class='table table-bordered table-striped sortable'>
                  <thead>
                    <tr>
                      <th style="width: 20%; vertical-align: middle;" class='az' data-defaultsign="nospan" data-defaultsort="asc">Titolo</th>
                      <th class='az' data-defaultsign="nospan">Priskribo</th>
                      <th>Unua numero</th>
                      <th>Lasta numero</th>
                      <th>Lingvoj</th>
                      <th >Stato</th>
                      <th class="right">#Num</th>
                    </tr>
                  </thead>
                  <tbody>
                       {% for gazeto in object_list %}
                       <tr >
                         <td style="width:15%" scope="row">
                             <a  href="{% url 'vido_gazeto_detaloj' gazeto.slug %}?listo">
                              {{ gazeto.nomo }}
                            </a>
                         </td>
                         <td style="width:40%"  >
                          {{ gazeto.priskribo}}
                         </td>
                         <td style="width:10%" align="center" data-dateformat="YYYY-MM-DD" data-value="{{ gazeto.unua_numero|date:'Y-m-d'}}" >
                          {{ gazeto.unua_numero|date:'Y-m-d'}}
                         </td>
                         <td style="width:10%" align="center" data-dateformat="YYYY-MM-DD" data-value="{{ gazeto.lasta_numero|date:'Y-m-d'}}" >
                          {{ gazeto.lasta_numero|date:'Y-m-d'}}
                         </td>
                         <td style="width:10%" align="center" >
                             {% for lingvo in gazeto.lingvoj.all %}
                               <a href="{% url 'vido_gazetoj'%}?listo&lingvo={{lingvo.iso3}} "
                               class="label label-danger">{{lingvo.iso3}}</a>
                             {% endfor %}
                         </td>
                         <td style="width:20%" >
                             {% if gazeto.cxu_kompleta %}
                                 <div class="progress ">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Kompleta
                                  </div>
                                 </div>
                             {% else %}
                                {% if gazeto.kompleta_procento < 30 %}
                                     <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ gazeto.kompleta_procento }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ gazeto.kompleta_procento }}%">
                                        </div>
                                      {{ gazeto.kompleta_procento }} %
                                     </div>
                                 {% else %}
                                     <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ gazeto.kompleta_procento }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ gazeto.kompleta_procento }}%">
                                            {{ gazeto.kompleta_procento }} %
                                        </div>

                                     </div>
                                 {% endif %}
                             {% endif %}
                         </td>
                         <td style="width:5%" align="right" >
                          {{ gazeto.numeroj.all|length }}
                         </td>

                       </tr>

                       {% endfor %}
                  </tbody>
               </table>

    {% else %} <!--Se ne estas listo, ni montras bildojn-->
          <div class="row" style="display:flex; flex-wrap: wrap;">
            {% for gazeto in object_list %}
                <div class="col-lg-3 col-md-4">
                    <div class="thumbnail">
                      <a href="{% url 'vido_gazeto_detaloj' gazeto.slug %}">
                          <img class="img-responsive" src="{{ gazeto.url_bildo }}" alt="Profilbildo de {{ gazeto.nomo }}">
                          <h4><center>{{ gazeto.nomo }} ({{ gazeto.numeroj.all|length }})</center></h4>
                      </a>
                      <h4><center>{{gazeto.kompleta_procento}}% kompleta<center></h4>

                    </div>
                </div>

            {% endfor %}
        </div>


    {% endif %} <!--Fino de la if listo-->
    </div>
{% else %}

    <div class="alert alert-warning" role="alert">Neniu gazetoj trovitaj.</div>
{% endif %}

</div>
{% endblock enhavo %}
