{% extends 'bazo.html' %}
{% load mathfilters %}

{% block titolo %}
    BitArkivo: {{ object.nomo }}({{nuna_jaro}})
{% endblock %}

{% block ĉapo %}
<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=7d23ff901039aef6293954d33d23c066"> -->



{% endblock ĉapo %}
{% block enhavo %}

{% if object %}

<div class="jumbotron">
<h1>{{ object.nomo }}
</h1>
<p>{{ object.priskribo }}</p>
<p><b>Unua numero:</b> {{ object.unua_numero|date:'j N Y' }}</br>
<b>Lasta numero:</b> {{ object.lasta_numero|date:'j N Y' }}</p>
{% if object.organizajxo %}
    <p><b>Organizaĵo:</b> {{ object.organizajxo }}</p>
{% endif %}
{% if object.urbo %}
<p><b>Urbo:</b> {{ object.urbo }}</p>
{% endif %}
</div>


{% if object.cxu_kompleta %}
 <div class="alert alert-success" role="alert">Ĉi tiu gazeto estas komplete arkivita :-)</div>
{% else %}
    {% if object.mankantaj_numeroj_num %}
        <div class="alert alert-danger" role="alert"><p>Mankas {{object.mankantaj_numeroj_num}} numeroj:
            <b>{{ object.mankantaj_numeroj_tkst|linebreaks }}</b>
            <br />Se vi havas iun el ili, bonvolu <a href="/kontaktu/" target="_top">sendi al ni</a>.</p>
        </div>
    {% endif %}
{% endif %}

<ol class="breadcrumb">
  <li><a href="/gazetoj/">Gazetoj</a></li>
  <li class="active">{{ object.nomo }} (Jaro: {{nuna_jaro}})</li>


  <li class="pull-right">
        {% if list_vido %}
            <i class="fa fa-th-list"></i>
            <a class="btn btn-link" href="?list_vido=0" role="button"><i class="fa fa-th-large"></i></a>
            <!-- <button class="btn btn-link "></button> -->
        {% else %}
            <a class="btn btn-link" href="?list_vido=1" role="button"><i class="fa fa-th-list"></i></a>
            <i class="fa fa-th-large"></i>
        {% endif %}
   </li>
</ol>



{% if numeroj %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ object.numeroj.count}} numeroj trovitaj</h3>
  </div>

  <div class="panel-body">

      {% if jaroj %}
       <div class="text-center">
        <ul class="pagination ">
          {% if havas_antauxan %}
            <li><a href="?jaro={{ antauxa_jaro }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for i in jaroj %}
            {% if nuna_jaro == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(nuna)</span></span></li>
            {% else %}
              <li><a href="?jaro={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if havas_sekvantan %}
            <li><a href="?jaro={{ sekvanta_jaro }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}

        </ul>
       </div>
    {% endif %}
      {% if list_vido %}
          <table class="table table-bordered table-striped ">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Priskribo</th>
                          <th class="right">Grando</th>
                          <th>Elŝutu</th>
                        </tr>
                      </thead>
                      <tbody>
                   {% for numero in numeroj %}
                   <tr >
                     <th style="width:30%" scope="row">
                         <a href="{% url 'vido_numero_detaloj' gazeto.slug numero.indekso %}">
                          {{ numero.indekso }}
                        </a>
                     </th>
                     <td style="width:50%" align="center" >
                      {{numero.priskribo}}
                     </td>
                     <td style="width:10%" align="right" >
                      {{ numero.dosiergrando|div:1000000|floatformat:2}}MB
                     </td>
                     <td style="width:10%" align="center" valign="top">
                         <a href="{% url 'vido_numero_detaloj' gazeto.slug numero.indekso %}?elsxutu" class="btn btn-danger">
                           <span class="glyphicon glyphicon-download"></span>
                         </a>
                     </td>
                   </tr>


                   {% endfor %}
               </tbody>
           </table>

      {% else %} <!--Se ne estas listo, ni montras bildojn-->
          <div class="row" style="display:flex; flex-wrap: wrap;">
          {% for numero in numeroj %}

                <div class="col-lg-3 col-md-4">
                  <div class="thumbnail">
                    <a href="{% url 'vido_numero_detaloj' gazeto.slug numero.indekso %}">
                        <img class="img-responsive"  src="{{ numero.url_bildo }}" alt="Bildo de {{ gazeto.nomo }} / {{ numero.indekso }}">
                        <div class="caption">
                            <h4>{{ numero.indekso }}</h4>
                        </div>
                    </a>
                  </div>
             </div>

          {% endfor %}
          </div>
      {% endif %}
  </div>
</div>



{% else %}
    <div class="alert alert-warning" role="alert">Neniu numeroj trovitaj.</div>
{% endif %}
</div>
{% else %}

    <div class="alert alert-warning" role="alert">Tiu gazeto ne ekzistas.</div>
{% endif %}

{% endblock enhavo %}
