{% extends 'bazo.html' %}
{% block titolo %}
    {% if object %}
        BitArkivo: Elŝutu PDF {{ object.indekso }} de "{{ object.gazeto.nomo }}"
    {% endif %}
{% endblock %}
{% block ĉapo %}


{% load staticfiles %}
{% load mathfilters %}
<script src="{% static 'js/download.js' %}"></script>
<script>
var elsxutu_numero = function(){
     downloadFile('{{object.url_pdf_arkivo}}');
}
</script>
{% if elsxutu %}
<script>
        var secondsBeforeDownloading = 5;
        var timerInterval;
        var setDownloadText = function() {
            var label = document.getElementById('butono_elsxuto');
            if (secondsBeforeDownloading == 0){
                label.innerHTML = 'Elŝutu denove »';
                clearInterval(timerInterval);
                elsxutu_numero();
            } else {
                label.innerHTML = 'Elŝuto komencos post ' + secondsBeforeDownloading + ' sekondoj...';
                secondsBeforeDownloading--;
            }
        }
        var elsxutu_kun_tempkontado = function(){
            timerInterval = setInterval('setDownloadText()', 1000);
        }

</script>
    <script>elsxutu_kun_tempkontado();</script>
{% endif %}
{% endblock %}
{% block enhavo %}



{% if object %}
<ol class="breadcrumb">
  <li><a href="/gazetoj/">Gazetoj</a></li>
  <li><a href="{% url 'vido_gazeto_detaloj' object.gazeto.slug %}">{{ object.gazeto.nomo }}</a></li>
  <li class="active">{{ object.indekso }}</li>
</ol>



    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-6 col-md-4">
                <a href="javascript:elsxutu_numero();">
                    <img class="img-responsive" src="{{ object.url_bildo }}" alt="Bildo de {{ object.gazeto.nomo }} / {{ gazeto.indekso }}">
                </a>
             </div>

            <div class="col-sm-6 col-md-8">
                <p><b>Indekso:</b> <b>{{ object.indekso }}</b></p>
                <p><b>Gazeto:</b> {{ object.gazeto }}</p>
                <p><b>Dato:</b> {{ object.dato }}</p>
                <p><b>Priskribo:</b> {{ object.priskribo }}</p>
                <p><b>Dosiergrando:</b> {{ object.dosiergrando|div:1000000|floatformat:2}}MB</p>
                
                <a target='_blank' href="{{object.url_pdf_arkivo}}">
                    <button id="butono_elsxuto" type="button" class="btn btn-primary btn-lg">Elŝutu »</button>
                </a>
                <!-- <a href="javascript:elsxutu_numero();">
                    <button id="butono_elsxuto" type="button" class="btn btn-primary btn-lg">Elŝutu »</button>
                </a> -->
            </div>
        </div>
    </div>


    {% if object.artikoloj.count %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{ object.artikoloj.count}} artikoloj trovitaj</h3>
          </div>
          <li class="list-group-item">
              {% for artikolo in object.artikoloj.all %}
                {{ artikolo }}
                <a href="{% url 'elsxuto_numero' object.gazeto.slug object.indekso %}">
                    <span class="badge" type="button">Legu</span>
                </a>
              {% endfor %}
          </li>

              </div>
          </div>
        </div>
        {% comment %}
            {% else %}
            <div class="alert alert-warning" role="alert">Neniu artikoloj trovitaj.</div>
        {% endcomment %}
    {% endif %}
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">Tiu numero ne ekzistas.</div>
{% endif %}

{% endblock enhavo %}
