
{% extends 'bazo.html' %}
{% block titolo %}Kontaktu nin - {{ block.super }}{% endblock %}

{% block enhavo %}
<div class="container-fluid">
                <div class="row-fluid">


                     <div class="col-md-offset-4 col-md-4" id="box">
                      <h2>Kontaktu nin!</h2>

                            <hr>


                                <form class="form-horizontal" role="form" action=" " method="post" id="contact_form">
                                    {% csrf_token %}
                                    <fieldset>
                                        <!-- Form Name -->


                                        <!-- Text input-->

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input id="id_nomo" name="nomo" placeholder="Via nomo" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>



                                        <!-- Text input-->
                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input id="id_retadreso" name="retadreso" placeholder="Via retadreso" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>




                                        <!-- Text input-->

                                        <div class="form-group">

                                            <div class="col-md-12 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <textarea rows=5 id="id_enhavo" class="form-control" name="enhavo" placeholder="Skribu vian mesaĝon ĉi tie."></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-warning pull-right">Sendu <span class="glyphicon glyphicon-send"></span></button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                    </div>
</div>
</div>
<div class="alert alert-warning" role="alert"><p>Se vi havas PDF-ojn kiu ankoraŭ mankas ĉi-tie, bonvolu <a href="mailto:kontakto@bitarkivo.org?Subject=BitArkivo" target="_top">sendi al ni</a>.</p></div>

{% endblock %}
