{% extends 'bazo.html' %}
{% block titolo %}Kontaktu nin - {{ block.super }}{% endblock %}

{% block enhavo %}
<section id="about">
	<div class="container">
		<div class="row row-eq-height">
			<div class="col-sm-6">
				<div id="about-who-we-are" class="featured">
					<h2 id="-who-we-are-"><strong>Pri BitArkivo</strong></h2>
<h3 id="-i-class-fa-fa-globe-fa-2x-i-"><i class="fa fa-globe fa-2x"></i></h3>
<p>La BitArkivo-projekto estis kreita dum 2016 de Ivan Garcia el Hispanio responde al manko de ĝisdatata arkivo de Esperanta kulturo (libroj, gazetoj, ktp).
<p>Ni volas danki al aliaj volontuloj kaj projektoj kiu zorgas ankaŭ pri la kolekto kaj skanado de esperanta kulturo.</p>
<p>Specialan samideanan dankon al: <ul>
      <li> <a target='_blank' href="http://www.esperanto.es:8080/jspui/">HEF Bitoteko</a></li>
      <li> <a target='_blank' href="http://www.esperanto.com.au/eo/">Melburna Esperanto Asocio</a></li>
      <li> <a target='_blank' href="https://sites.google.com/site/esperantokortrijk/Bitigo---Digitalisering/revuoj">Esperanto-kortrijk.info</a></li>
      <li> <a target='_blank' href="http://bretaro.net">Bretaro.net</a></li>
      <li> <a target='_blank' href="https://www.onb.ac.at/eo/bibliothek/sammlungen/kolekto-por-planlingvoj/digitaj-dokumentoj/periodajoj/">Esperantomuzeo kaj Kolekto por Planlingvoj</a></li>
      <li> <a target='_blank' href="http://www.archive.org">La Interreta Arkivo (Archive.org)</a></li>
</p>
</div>
</div>
			<div class="col-sm-6">
				<div id="about-get-involved" class="featured">
					<h2 id="-get-involved-"><strong>Helpu nin</strong></h2>
<h3 id="-i-class-fa-fa-users-fa-2x-i-"><i class="fa fa-users fa-2x"></i></h3>
<p>Ĉu vi ŝatas la ideon de BitArkivo? Ĉu vi ŝatus helpi nin? Jen kelkaj maniero vi povas elekti por kontribui:</p>
<ul>
<li><p><strong>Vi havas E-gazetojn</strong>: Skanu ilin aŭ se jam ciferigita en PDF, <b><a href="/kontaktu">sendu ilin</a></b> al ni.</p>
</li>
<li><p><strong>Vi havas informatikajn scikapablojn</strong>: helpu nin kun la mastrumado de miloj de E-erojn (kompilado kaj kreado de PDF, testoj, ktp.).</p>
</li>
<li><p><strong>Vi ŝatus disvastigi la projekton</strong>: bonvolu uzi la sociajn retejon kiel Facebook aŭ Twitter por paroli pri ni!</p>
</li>
<li><p><strong>Vi havas kromajn ideojn aŭ trovis tekstfuŝojn en ĉi retejo</strong>: bonvolu <b><a href="/kontaktu">komuniki ilin</a></b> por plibonigi la retpaĝon!</p>
</li>
</ul>
<p>Subteno per aliaj manieroj, ekz. donacoj, ankaŭ estas bonvena.</p>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock enhavo %}
